<% if @survey.nil? %>
  <p>
    <%= @participant.email %> there are not Active Surveys right now.
  </p>
<% elsif @survey.avaliable_for_participant?(@participant) %>
  <%= render 'form' %>
<% else %>
  <p>
    <%= @participant.email %> spent all the possible attempts to answer this Survey
  </p>
<% end -%>